body {
  font-family: 'Comfortaa', cursive;
  background-color: #FFFFFF;
}

header {
  text-align: center;
  padding: 2em;
}

header,
main,
footer {
  padding-left: 240px;
}

header .logo {
  margin-left: 20px
}

.miPresentacion{
  background-color:  #FFFFFF;
}

.fotoMiPresentacion {
  width: 80%;
  height: 80%;
  border-radius: 3%;
}

.logoMenu {
  width: 100%;
}

.hamburguesa {
  background-color: white;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

h1 {
  font-size: 1.5rem;
  line-height: 25px
}

header .btn-floating {
  position: relative;
  margin: 0 auto;
  display: block;
  top: 58px;
}

header nav {
  box-shadow: none;
  width: 100%;
}

header nav ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 2rem;
  margin: 0 25px;
}

.button-collapse {
  margin-left: 25px;
  color: gray;
}

ul.side-nav.fixed a {
  color: whitesmoke;
}

ul.side-nav.fixed a:hover {
  color: black;
}

li {
  list-style-type: none;
}

.delContacto{
  background-color: #D8D8D8;
  font-weight: bold;
}

section .col {
    margin-bottom: 24px;
}

section h4 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

section hr {
  width: 40px;
  margin-bottom: 45px;
  border: 1px solid;
}


/*portafolio*/
#fb-passeante {
  width: 250px;
  height: 200px;
}

.portafolio .portafolio-holder {
  clear: both;
  text-align: center;
}

.portafolio img, {
  -ms-filter: "progid:DXImageTransform@mixin Microsoft@mixin Alpha(Opacity=${iefactor})";
  filter: "alpha(opacity=(${iefactor}))";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.portafolio img {
  width: 33%;
  display: inline-block;
  float: left;
}

footer.page-footer {
  margin-top: 0px;
  padding-top: 0px;
}

/*contacto*/
#linkContacto {
color: green;
}

/* Hover 12 */
.hover12 img+span {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover12 :hover img {
  opacity: .5;
}

#habs {
  text-align: center;
  font-weight: bold;
}


/* RESPONSIVO */
@media only screen and (max-width: 992px) {
  header ul.side-nav li a {
    font-size: 1.7rem
  }
  header,
  main,
  footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .portafolio img {
    width: 50%;
  }
}

@media only screen and (max-width: 467px) {
  .portafolio img {
    width: 100%;
  }
}
